@media screen and (max-width: 426px) {
  body {
       background: url(https://images.pexels.com/photos/1723637/pexels-photo-1723637.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)!important;
       background-image: cover !important;
   
   
  }
  .todo-app{
        background: none !important;
          margin-bottom: -71px !important;
  }
  h1{             width: 90% !important;
        font-size: 18px !important;
        margin: auto !important;
  }
  div{
        margin-left: -10px !important;
        width: 90% !important;
   
  }
  .dropdown-list{
    margin-inline: 55px  !important;
    margin-left: 0px  !important;
  }
}
